<div class="heading-container">
    <h1 class="heading-text">Auto</h1>
</div>
<div class="select-container">
    <mat-form-field class="select-form-field" appearance="fill">
        <mat-select [(value)]="selectedAuto" (valueChange)="updateAuto()">
            <mat-option *ngFor="let option of autoOptions" [value]="option">{{ option }}</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div class="heading-container field-heading">
    <h1 class="heading-text">Robot Position</h1>
</div>
<div class="robot-pos">
    <app-robot-pos></app-robot-pos>
</div>
