<div class="option-container">
    <div class="heading-container">
        <h2 class="heading-text">Intake Vals</h2>
    </div>
    <h3 class="option-text">Current Intake Speed: {{ intakeSpeed }}</h3>
    <h3 class="option-text">The Intake is currently: {{ intakeMode }}</h3>
    <hr class="option-divider">
    <div class="mode-container">
        <p class="option-text">Select Intake Mode</p>
        <mat-form-field class="mode-field">
            <mat-label>Intake Mode</mat-label>
            <mat-select [(value)]="selectedIntakeMode" (valueChange)="updateIntakeMode()">
                <mat-option *ngFor="let mode of intakeModes" value="{{mode}}">{{mode}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="mode-container">
        <p class="option-text">Select Intake Speed : {{ selectedIntakeSpeed }}</p>
        <mat-slider
            class="option-slider"
            color="primary"
            thumbLabel
            min="-100"
            max="100"
            (valueChange)="updateIntakeSpeed()"
            [(value)]="selectedIntakeSpeed"></mat-slider>
    </div>
</div>