.field{
    &-heading{
        margin-top: 30px;
    }

    &-container{
        max-width: 95%;
        max-height: 85%;
        aspect-ratio: 2/1;
        margin: auto;
        margin-top: 15px;

        border: 10px black solid;
    }
}

.robot{
    width: 60px;
    height: 60px;
    position: relative;

    transition: all 0.5s ease;

    border: 5px blue solid;
    display: flex;
    justify-content: center;

    &-direction-icon{
        height: 50px;
        width: 50px;
        margin-top: 5px;

    }
}