.container{
    height: 1000px;
}

.settings{
    &-container{
        width: 85%;
        height: 85%;

        margin: auto;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }
}

.option{
    &-container{
        width: 400px;
        height: 300px;
        background-color: var(--mid-bg-color);
        box-shadow: #8aa5bb 5px 5px 5px;;
    }

    &-field{
        width: 65%;
        margin-left: 10px;
        margin-top: 20px;
    }

    &-submit{
        width: 80px;
        height: 30px;
        margin-top: -10px;
        margin-left: 15px;
        border-radius: 15px;
        border: none;
        background-color: #80ffdb;
        cursor: pointer;
    }

    &-list{
        width: fit-content;
        text-decoration: none;
        list-style-type: circle;
        max-height: 200px;
        overflow: auto;

        &-item{
            cursor: pointer;
            margin-top: 2px;
            &:hover{
                background-color: #537992;
            }

        }
    }

    &-wipe{
        width: 30%;
        height: 60px;
        margin: auto;
        cursor: pointer;
        background-color: #fb3640;
        border: none;
        border-radius: 15px;

    }
}

.vars{
    &-list{
        height: 175px;
        width: 85%;
        overflow-x: hidden;
    }
    &-option{
        width: 100%;
        word-wrap: break-word;
    }
}

@media screen and(max-width: 1700px){
    .container{
        height: fit-content;
    }
}