<div class="heading-container">
    <h1 class="heading-text">Graphs</h1>
</div>
<div class="graph-container">
    <mat-tab-group class="graph-tab">
        <!-- NOTE - For some reason the vision tracking graph ONLY updates when it is first in the tab group? -->
        <mat-tab label="Vision Tracking">
            <div class="heading-container">
                <h2 class="heading-text">Vision Tracking</h2>
            </div>
            <app-vision-graph></app-vision-graph>
        </mat-tab>
        <mat-tab label="Ball Tracking">
            <div class="heading-container">
                <h2 class="heading-text">Ball Tracking</h2>
            </div>
            <app-ball-graph></app-ball-graph>
        </mat-tab>
        <mat-tab label="Battery Voltage">
            <div class="heading-container">
                <h2 class="heading-text">Battery Voltage</h2>
            </div>
            <app-line-graph 
                [isStandardGraph] = 'true'
                [trackLabels]="['Battery Voltage']"
                [trackKeys]="['Battery Voltage']"
                [minVal]="0"
                [maxVal]="12"
            ></app-line-graph>
        </mat-tab>
        <mat-tab label="LiDAR">
            <div class="heading-container">
                <h2 class="heading-text">LiDAR Values</h2>
            </div>
            <app-line-graph 
                [isStandardGraph] = "true"
                [trackLabels]="['Lidar Distance (mm)']"
                [trackKeys]="['Vis Dist']"
                [minVal]="0"
                [maxVal]="100"
            ></app-line-graph>
        </mat-tab>
        <mat-tab label="Shooter Speeds">
            <div class="heading-container">
                <h2 class="heading-text">Shooter Speeds</h2>
            </div>
            <app-line-graph
                [isStandardGraph]="true"
                [trackLabels]="['Shooter A Val', 'Shooter B Val']"
                [trackKeys]="['Shooter A Speed', 'Shooter B Speed']"
                [minVal]="-2000"
                [maxVal]="2000"
        ></app-line-graph>
        </mat-tab>
    </mat-tab-group>
</div>