.container{
    width: 95%;
    margin: auto;
    height: 750px;
    background-color: #A3CEF1;
    border-radius: 15px;
    margin-top: 20px;
}

.select{
    &-container{
        width: fit-content;
        height: fit-content;
        margin: auto;
    }
    &-form{
        &-field{
            margin: auto;
            height: 50px;
            width: 300px;
            margin-top: 10px;
        }
    }
}

.field{
    &-heading{
        margin-top: 30px;
    }

    &-container{
        width: 95%;
        height: 500px;
        margin: auto;
        margin-top: 15px;

        border: 10px black solid;
    }
}

.robot{
    width: 60px;
    height: 60px;
    position: relative;

    transition: all 0.5s ease;

    border: 5px blue solid;
    display: flex;
    justify-content: center;

    &-direction-icon{
        height: 50px;
        width: 50px;
        margin-top: 5px;

    }
}