<div class="container">
    <div class="heading-container">
        <h1 class="heading-text">Auto Options</h1>
    </div>
    <div class="select-container">
        <mat-form-field class="select-form-field" appearance="fill">
            <mat-select [(value)]="selectedAuto" (valueChange)="updateAuto()">
                <mat-option *ngFor="let option of autoOptions" [value]="option">{{ option }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="heading-container field-heading">
        <h1 class="heading-text">Robot Pos</h1>
    </div>
    <div class="field-container">
        <div class="robot" id="robot">
            <mat-icon class="robot-direction-icon">keyboard_arrow_up</mat-icon>
        </div>
    </div>
</div>