.wipe{
    &-btn{
        height: 35px;
        width: 135px;
        margin: auto;
        margin-top: 35px;
        margin-left: 45%;
        transform: translateY(-25%);
        border: none;
        cursor: pointer;
        background-color: #fb3640;
    }
}