

.robot{
    &-container{
        height: 95%;
        aspect-ratio: 1/1;
        margin: auto;
        border: 5px black solid;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-width: 50%;
        position: relative;
    }

    &-module{
        position: absolute;
        width: 120px;
        height: fit-content;
        

        &-text{
            text-align: center;
            margin: 0px;
            font-size: 1rem;
        }

        &-circle{
            margin: 0px;
            margin-left: 5px;
            width: 100px;
            height: 100px;
            border: 3px blue solid;
            border-radius: 100%;

            &-icon{
                height: 75px;
                width: 75px;
                transition: all 0.25s ease;
                margin-left: 13px;
                margin-top: 12px;
            }
        }
    }
}

.headingText{
    font-size: 1.5rem;
}

#moduleB{
    top: 0%;
    left: 0%;
}

#moduleA{
    top: 0%;
    right: 0%;
}

#moduleC{
    top: calc(100% - 200px);
    left: 0%;
}

#moduleD{
    top: calc(100% - 200px);
    right: 0%;
}

