.data-container{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.controls{
    &-container{
        width: 50%;
    }
}

.graph{
    &-container{
        margin-top: 50px;
        margin-right: 10px;
        width: 65%;

    }
}
.status-container{
    width: 100%;
    height: 200px;
}

@media screen and(max-width: 500px){
    .data-container{
        flex-direction: column;
    }


    .controls{
        &-container{
            margin-top: 0px;
            width: 100%;
            height: 200px;
        }
    }
    .graph{
        &-container{
            display: none;
        }
    }
}