.robot{
    &-frame{
        border: 3px black solid;
        width: 85%;
        aspect-ratio: 1/1;
        position: absolute;
        top: 5%;
        left: 5%;
    }
    
    &-module{
        position: absolute;
        &-icon{
            margin-left: 0px;
            margin-top: 0px;
            height: 15px;
            width: 1  15px;
            transition: all 0.3s ease;
        }

        &-text{
            color: #fff;
            margin-top: -25px;
            margin-left: 20px
        }
    }
}



#moduleB{
    top: 0%;
    left: 0%;
}

#moduleA{
    top: 0%;
    right: 0%;
}

#moduleC{
    top: calc(100% - 15px);
    left: 0%;
}

#moduleD{
    top: calc(100% - 15px);
    right: 0%;
}
