<div class="robot-frame">
    <div class="robot-module" id="moduleB">
        <img src="../../../assets/up_arrow.svg" alt="^" class="robot-module-icon" id="moduleBIcon">
        <p class="robot-module-text">B</p>
    </div>
    <div class="robot-module" id="moduleA">
        <img src="../../../assets/up_arrow.svg" alt="^" class="robot-module-icon" id="moduleAIcon">
        <p class="robot-module-text">A</p>
    </div>
    <div class="robot-module" id="moduleC">
        <img src="../../../assets/up_arrow.svg" alt="^" class="robot-module-icon" id="moduleCIcon">
        <p class="robot-module-text">C</p>
    </div>
    <div class="robot-module" id="moduleD">
        <img src="../../../assets/up_arrow.svg" alt="^" class="robot-module-icon" id="moduleDIcon">
        <p class="robot-module-text">D</p>
    </div>
</div>