<div class="board-container">
    <div class="heading-container">
        <h1 class="heading-text">Add new Board</h1>
    </div>
    <div class="section-container">
        <div class="section-item">
            <div class="heading-container">
                <h2 class="heading-text">From Smart Dashboard</h2>
            </div>
            <div class="section-content-container">
                <ul class="section-list">
                    <li class="section-list-item" 
                    *ngFor="let key of displayKeys" 
                    id="{{key}}"
                    (click)="updateBoardList(key, false)">{{key}}</li>
                </ul>
                
                <div class="search-container">
                    <mat-form-field class="search-field" appearance="fill">
                        <mat-label>Search</mat-label>
                        <input matInput 
                            class="search-input" 
                            id="searchInput"
                            (keyup)="updateDisplayKeys()">
                    </mat-form-field>
                </div>
            </div>
            
        </div>
        <div class="section-item">
            <div class="heading-container">
                <h2 class="heading-text">From Library</h2>
            </div>
            <ul class="section-list">
                <li class="section-list-item" (click)="updateBoardList('Offsets', true)">Offsets</li>
                <li class="section-list-item" (click)="updateBoardList('Swerve Angle', true)">Swerve Angle</li>
                <li class="section-list-item" (click)="updateBoardList('Shooter Control', true)">Shooter Control</li>
                <li class="section-list-item" (click)="updateBoardList('Shooter Status', true)">Shooter Status</li>
                <li class="section-list-item" (click)="updateBoardList('Shooter Hood Control', true)">Shooter Hood Control</li>
                <li class="section-list-item" (click)="updateBoardList('Injector Control', true)">Injector Control</li>
                <li class="section-list-item" (click)="updateBoardList('Intake Control', true)">Intake Control</li>
                <li class="section-list-item" (click)="updateBoardList('Ball Position', true)">Ball Position</li>
                <li class="section-list-item" (click)="updateBoardList('Vision Target', true)">Vision Target</li>
            </ul>
        </div>
    </div>
</div>