.container{
    width: 100%;
    height: 100%;
    
    
}

.status{
    &-container{
        width: 100%;
        height: 50px;
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }

    &-indicator{
        width: 100%;
        height: 25px;
        
        &-container{
            margin-top: 5px;
            width: 45px;
            justify-content: center;
        }

        &-text{
            font-size: 0.75rem;
            margin: auto;
            text-align: center;
        }
    }
}

.info{
    &-container{
        width: 100%;
        height: 50px;
    }
    
    &-form{
        width: 100%;
        height: 90%;
        margin-left: 5px;
    }
    
    &-field{
        font-size: 0.75rem;
        margin-bottom: 15px;
        height: 40%;
        max-height: 30px;

    }

    &-polling{
        width: 25%;
        margin-left: 10px;
        margin-right: 10px;
    }

    &-check{
        width: 45%;
        margin-left: 15px;
    }

    &-submit{
        background-color: #80ffdb;
        border-radius: 5px;
        border: none;
        height: 55%;
        margin-left: 5px;
        cursor: pointer;
        transition: all 0.75s ease;
        &:hover{
            transform: scale(1.1);
        }
    }
}

.bottomInput{
    margin-top: 15px;
}
.indicator-unknown{
    background-color: #8B8C89;
}

.indicator-warning{
    background-color: #eec643;
}

.indicator-good{
    background-color: #20bf55;
}

.indicator-error{
    background-color: #fb3640;
}