<div class="heading-container">
    <h1 class="heading-text">Injector</h1>
</div>

<div class="content-container">
    <div class="control-container">
        <app-injector-control></app-injector-control>
    </div>
    <div class="graph-container">
        <app-line-graph
            [isStandardGraph]="true"
            [trackLabels]="['Injector Speed']"
            [trackKeys]="['Injector Speed']"
            [minVal]="-500"
            [maxVal]="500"
        ></app-line-graph>
    </div>
</div>