<div class="connection-container">
  <app-connection-menu></app-connection-menu>
</div>

<div class="notification-container">
  <app-notifications></app-notifications>
</div>

<div class="swerve-container">
  <app-swerve-direction></app-swerve-direction>
</div>

<div class="timer-container">
  <app-timer></app-timer>
</div>

<div class="subsystems-container">
  <mat-tab-group mat-align-tabs="center" [backgroundColor]="'primary'">
    <mat-tab label="General">
      <div class="container">
        <app-general-stats></app-general-stats>
      </div>
    </mat-tab>
    <mat-tab label="Offsets">
      <div class="container">
        <div class="heading-container">
          <h1 class="heading-text">Swerve Offsets</h1>
        </div>
        <div class="offset-container">
          <app-offsets></app-offsets>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Shooter">
      <div class="container">
        <app-shooter-control></app-shooter-control>
      </div>
    </mat-tab>
    <mat-tab label="Graphs">
      <div class="container">
        <app-graphs></app-graphs>
      </div>
    </mat-tab>
    <mat-tab label="Auto">
      <div class="container">
        <app-auto></app-auto>
      </div>
    </mat-tab>
    <mat-tab label="Settings">
      <div class="container">
        <app-settings></app-settings>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<span class="footer-container">
  <app-footer></app-footer>
</span>