.top{
    &-cards{
        &-container{
            width: 100%;
            height: auto;

        }
    }
}

.connection{
    &-container{
        width: 20%;
        height: 100px;

        margin-top: 10px;
        margin-left: 10px;
    }
}

.swerve{
    &-container{
        height: 100px;
        width: 20%;
        position: fixed;
        top: 0px;    
        right: 0px;
        z-index: 4;
    }
}

.timer{
    &-container{
        width: 25%;
        height: 12%;
        padding-top: 10px;
        margin: auto;
    }
}

.subsystems{
    &-container{
        margin: auto;
        margin-top: 50px;
        width: 85%;
        height: 750px;
    }
}

// For different screen sizes
@media screen and(max-width: 1800px){
    .connection{
        &-container{
            width: 40%;
        }
    }


}
@media screen and(max-width: 1350px){
    .connection{
        &-container{
            width: 65%;
        }
    }
}

@media screen and(max-width: 1200px){
    .top{
        &-cards{
            &-container{
                display: block;
                justify-content: center;
                margin-left: 5px;
    
            }
        }
    }    

    .connection{
        &-container{
            width: 35%;
        }
    }
}
@media screen and(max-width: 1050px){
    .connection{
        &-container{
            width: 75%;
        }
    }
    .timer{
        &-container{
            width: 50%;       
        }
    }
}
@media screen and(max-width: 750px){
    .connection{
        &-container{
            width: 70%;
        }
    }
}
@media screen and(max-width: 500px){
    .connection{
        &-container{
            width: 90%;
        }
    }
}