.top{
    &-cards{
        &-container{
            width: 100%;
            height: auto;

        }
    }
}

.connection{
    &-container{
        width: 25%;
        height: 100px;

        margin-top: 10px;
        margin-left: 10px;
    }
}

.notification{
    &-container{
        width: 25%;
        height: 100px;
        margin: auto;
        margin-top: -120px;
    }
}

.swerve{
    &-container{
        height: 100px;
        width: 20%;
        position: absolute;
        top: 0px;    
        right: 0px;
        z-index: 4;
    }
}

.timer{
    &-container{
        width: 25%;
        height: 12%;
        padding-top: 10px;
        margin: auto;
        margin-top: 25px;
    }
}

.subsystems{
    &-container{
        margin: auto;
        margin-top: 100px;
        width: 85%;
        height: fit-content;
    }
}

// For different screen sizes
@media screen and(max-width: 1800px){
    .connection{
        &-container{
            width: 25%;
        }
    }
}
@media screen and(max-width: 1550px){
    .connection{
        &-container{
            width: 30%;
        }
    }
    .timer{
        &-container{
            height: 15%;
        }
    }
}

@media screen and(max-width: 1300px){
    .connection{
        &-container{
            width: 35%;
        }
    }
}

@media screen and(max-width: 1200px){
    .connection{
        &-container{
            width: 40%;
        }
    }
    .top{
        &-cards{
            &-container{
                display: block;
                justify-content: center;
                margin-left: 5px;
    
            }
        }
    }    

}
@media screen and(max-width: 1050px){
    .connection{
        &-container{
            width: 50%;
        }
    }
    .timer{
        &-container{
            margin-top: 45px;
            width: 50%;       
        }
    }
}
@media screen and(max-width: 750px){
    .connection{
        &-container{
            width: 60%;
        }
    }
}
@media screen and(max-width: 500px){
    .connection{
        &-container{
            width: 90%;
        }
    }
}