<div class="container">
    <div class="robot-frame">
        <div class="robot-module" >
            <mat-icon class="robot-module-icon" id="moduleAIcon">keyboard_arrow_up</mat-icon>
            <p class="robot-module-text">A</p>
        </div>
        <div class="robot-module" id="moduleB">
            <mat-icon class="robot-module-icon" id="moduleBIcon">keyboard_arrow_up</mat-icon>
            <p class="robot-module-text">B</p>
        </div>
        <div class="robot-module" id="moduleC">
            <mat-icon class="robot-module-icon" id="moduleCIcon">keyboard_arrow_up</mat-icon>
            <p class="robot-module-text">C</p>
        </div>
        <div class="robot-module" id="moduleD">
            <mat-icon class="robot-module-icon" id="moduleDIcon">keyboard_arrow_up</mat-icon>
            <p class="robot-module-text">D</p>
        </div>
    </div>
</div>