.container{
    width: 100%;
    height: 100%;
    background-color: #A3CEF1;
    border-radius: 15px;
    text-align: center;

    .counter{
        &-text{
            font-size: 4rem;
            margin-top: 5px;
            flex: 1;
            margin-bottom: 0px;

        }
    }
    .options{
        &-container{
            margin-top: 0px;
        }
    }
}
