@font-face {
    font-family: oxygen-regular;
    src: url("assets/Oxygen/Oxygen-Regular.ttf");
}

*{
    font-family: oxygen-regular;
    line-height: normal;
}

body{
    background-color: #E7ECEF;
    
    &::-webkit-scrollbar{ // Hides the pages' scroll bar
        display: none;
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container{
    width: 95%;
    margin: auto;
    height: 750px;
    background-color: #A3CEF1;
    border-radius: 15px;
    margin-top: 20px;
    padding-bottom: 30px;
}

.heading{
    &-container{
        width: fit-content;
        margin: auto;
        text-align: center;
        margin-top: 5px;
        
    }
}

.hidden{
    display: none ;
}

@keyframes fade-in-center {
    0% {
      transform: scale(1.5);
      filter: blur(5px);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      filter: blur(0px);
      opacity: 1;
    }
}