.content{
    &-container{
        display: flex;
        flex-direction: row;
        width: 95%;
        height: fit-content;
        margin: auto;
    }
}

.control{
    &-container{
        width: 40%;
        height: 500px;
    }
}

.graph{
    &-container{
        width: 65%;
        height: 500px;
        margin-top: 150px;
    }
}


@media screen and(max-width: 500px){
    .content{
        &-container{
            flex-direction: column;
        }
    }
    .control{
        &-container{
            width: 95%;
            height: fit-content;
            margin: auto;
        }
    }
    .graph{
        &-container{
            display: none;
        }
    }
}